@import "src/assets/styles/variables";
.sp-calculator {
  max-width: 400px;
  overflow: scroll;
  margin: 98px auto 0;
  background: $background-color-white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 45px 45px 80px;

  &__h1 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 24px;
  }

  &__label {
    font-size: 14px;
    &--block-display {
      display: block;
    }
  }

  &__result {
    border: 1px solid $white-border;
    border-radius: 4px;
    &__price {
      display: flex;
      padding: 44px 25px;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      &__total {
        color: $text-blue;
        font-size: 24px;
      }
    }
    &__description {
      padding: 0 25px;
      display: flex;
      align-items:center;
      height: 47px;
      font-size: 10px;
      background-color: $background-color-blue;
    }
  }
}

@media only screen and (max-width: 350px) {
  .sp-calculator {
    padding: 20px 20px 80px;
    min-width: 300px;
    max-height: 500px;
  }
}
