<div class="sp-calculator">
  <h1 class="sp-calculator__h1">Saving <br> calculator</h1>

  <form [formGroup]="amountForm">
    <div class="sp-calculator__switcher">
      <label class="sp-calculator__toggler">
        <input type="checkbox" formControlName="isTotal">
        <span class="sp-calculator__toggler__slider"></span>
      </label>
      <span class="sp-calculator__label" >Calculate by {{isTotal ? 'total amount' : 'monthly saving'}}</span>
    </div>

    <ng-container *ngIf="isTotal else monthlyInput">
      <span class="sp-calculator__label">Total amount</span>
      <div class="sp-calculator__input">
        <span>$</span>
        <input mask="separator.0" thousandSeparator="," formControlName="total" class="sp-calculator__field" type="text">
      </div>
    </ng-container>

    <ng-template #monthlyInput>
      <span class="sp-calculator__label">Monthly amount</span>
      <div class="sp-calculator__input">
        <span>$</span>
        <input mask="separator.0" thousandSeparator="," formControlName="monthly" class="sp-calculator__field" type="text">
      </div>
    </ng-template>

    <span class="sp-calculator__label">{{isTotal ? 'Reach goal by' : 'Save until'}}</span>
    <div class="sp-calculator__input sp-calculator__input--date">
      <span (click)="changeDate(false)"><</span>
      <p class="sp-calculator__field">{{date | date: 'MMMM, y'}}</p>
      <span (click)="changeDate(true)">></span>
    </div>

    <div class="sp-calculator__result">
      <div class="sp-calculator__result__price">
        <p>Total Amount</p>
        <p>{{getResult() | currency:'USD':'symbol-narrow':'.0'}}</p>
      </div>
      <div class="sp-calculator__result__description" *ngIf="isTotal else monthlyDescription">
        <p *ngIf="!(amountForm.get('monthly')?.value == '0')">You are planning {{monthNumber}} monthly deposits to reach your {{+amountForm.get('total')?.value | currency:'USD':'symbol-narrow':'.0'}} goal by {{date | date: 'MMMM, y'}}.</p>
      </div>
    </div>
  </form>
</div>

<ng-template #monthlyDescription >
  <div class="sp-calculator__result__description">
    <p *ngIf="!(amountForm.get('total')?.value == '0')">You are saving {{+amountForm.get('monthly')?.value | currency:'USD':'symbol-narrow':'.0'}} monthly to save {{getResult() | currency:'USD':'symbol-narrow':'.0'}} by {{date | date: 'MMMM, y'}}.</p>
  </div>
</ng-template>


