<section class="sp-calculator">
  <h1 class="sp-calculator__h1">Saving <br> calculator</h1>

  <form [formGroup]="form">
    <label class="sp-calculator__label--block-display">
      <app-sp-toggler formControlName="toggler"></app-sp-toggler>
      <span class="sp-calculator__label">Calculate by {{(form.get('toggler')?.value ? CALCULATOR_TEXTS.totalAmount : CALCULATOR_TEXTS.montlyAmount) | lowercase}}</span>
    </label>

    <label class="sp-calculator__label">
      {{form.get('toggler')?.value ? CALCULATOR_TEXTS.totalAmount : CALCULATOR_TEXTS.montlyAmount}}
      <app-sp-currency-input formControlName="input"></app-sp-currency-input>
    </label>

    <label class="sp-calculator__label">
      {{form.get('toggler')?.value ? CALCULATOR_TEXTS.reachGoal : CALCULATOR_TEXTS.saveUntil}}
      <app-sp-month-picker formControlName="date"></app-sp-month-picker>
    </label>

    <div class="sp-calculator__result">
      <div class="sp-calculator__result__price">
        <p>{{form.get('toggler')?.value ? CALCULATOR_TEXTS.montlyAmount : CALCULATOR_TEXTS.totalAmount}}</p>
        <p class="sp-calculator__result__price__total">{{amountForDisplay}}</p>
      </div>
      <div class="sp-calculator__result__description">
        <p>{{description}}</p>
      </div>
    </div>
  </form>
</section>



