@import "./src/assets/styles/variables";
.input {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 22px;
  &__label {
    font-size: 12px;
    background: #F4F8FA;
    padding: 10px 17px;
    border: 1px solid $white-border;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-align: center;
    -ms-user-select: none;
    user-select: none;
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
  }
  &__field {
    padding: 10px 42px 10px 0;
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-radius: 0 6px 6px 0;
    margin-left: -1px;
    background: $background-color-white;
    border: 1px solid $white-border;
    &:focus {
      outline: none;
    }
  }
}

