/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables";
* {
  box-sizing: border-box;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rambla", sans-serif;
  color: $background-color;
  font-size: 16px;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  background-color: #F4F8FA;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
