@import "./src/assets/styles/variables";
.date {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 22px;
  &__label {
    font-size: 12px;
    color: #828282;
    text-align: center;
    background: #F4F8FA;
    padding: 10px 17px;
    border: 1px solid $white-border;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    &--previous {
      border-radius: 6px 0 0 6px;
    }
    &--next {
      border-radius: 0 6px 6px 0;
    }
    &:hover {
      color: white;
      background-color: $text-blue;
    }
  }
  &__field {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 16px;
    font-size: 14px;
    margin: 0 -1px;
    background: $background-color-white;
    border: 1px solid $white-border;
  }
}

